In [29]:
import pandas as pd
import numpy as np
import random
from datetime import datetime

In [30]:
# Read the Excel file into a DataFrame
receipts = pd.read_excel('receipts.xlsx')

In [ ]:

# Define a list of new columns
new_columns = ['Opinion on Business Customer', 'Rate business customer (from 1 to 5)',
               'Selected product from record', 'Opinion on one selected product',
               'Rate on one selected product (from 1 to 5)']

# Generate new client data for each unique "Rachunek" value
new_data = pd.DataFrame(columns=['ID of Business Customer', 'Business customer name'] + new_columns)

# Dictionary to store generated IDs and names for each 'Rachunek'
generated_data_dict = {}

for index, row in receipts.iterrows():
    rachunek = row['Rachunek']

    # Check if the current 'Rachunek' already exists in the new_data DataFrame
    if rachunek not in generated_data_dict:
        # Generate unique ID and name for the 'Rachunek'
        generated_id = np.random.randint(1, 100000)
        generated_name = f'La Cedre {np.random.randint(1, 100)}'

        # Add the generated ID and name to the dictionary
        generated_data_dict[rachunek] = {'ID of Business Customer': generated_id, 'Business customer name': generated_name}

        # Append the new client data to the new_data DataFrame
        new_data = new_data.append(generated_data_dict[rachunek], ignore_index=True)

    # Update the corresponding row in the receipts DataFrame with the generated client data
    receipts.at[index, 'ID of Business Customer'] = generated_data_dict[rachunek]['ID of Business Customer']
    receipts.at[index, 'Business customer name'] = generated_data_dict[rachunek]['Business customer name']

# Initialize the new columns with empty values
for col in new_columns:
    receipts[col] = ''

# Reorder the columns in the receipts DataFrame
receipts = receipts[['ID of Business Customer', 'Business customer name'] + receipts.columns[:-2].tolist() + new_columns]

# Drop the 'Klient' column from receipts DataFrame
receipts.drop(columns='Klient', inplace=True)

# Print the updated DataFrame
print(receipts)

In [32]:
new_data

,ID of Business Customer,Business customer name,Opinion on Business Customer,Rate business customer (from 1 to 5),Selected product from record,Opinion on one selected product,Rate on one selected product (from 1 to 5)
0,44677,La Cedre 77,NaN,NaN,NaN,NaN,NaN
1,99652,La Cedre 86,NaN,NaN,NaN,NaN,NaN
2,42436,La Cedre 56,NaN,NaN,NaN,NaN,NaN
3,2375,La Cedre 41,NaN,NaN,NaN,NaN,NaN
4,27503,La Cedre 34,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2841,34949,La Cedre 92,NaN,NaN,NaN,NaN,NaN
2842,40569,La Cedre 9,NaN,NaN,NaN,NaN,NaN
2843,28079,La Cedre 34,NaN,NaN,NaN,NaN,NaN
2844,28193,La Cedre 74,NaN,NaN,NaN,NaN,NaN
2845,23648,La Cedre 37,NaN,NaN,NaN,NaN,NaN

In [34]:
receipts

,ID of Business Customer,Business customer name,Data,POS,Otw,Zam,Rachunek,Numer zam,Otwierający,Zamykający,...,ID of Business Customer,Business customer name,Opinion on Business Customer,Rate business customer (from 1 to 5),Selected product from record,Opinion on Business Customer,Rate business customer (from 1 to 5),Selected product from record,Opinion on one selected product,Rate on one selected product (from 1 to 5)
0,44677.0,La Cedre 77,2022-12-31 00:31:50,POS,2022-12-31 18:33:06.790,2023-01-01 00:31:50.470,6935,17/8/S,Marta,Marta,...,44677.0,La Cedre 77,,,,,,,,
1,44677.0,La Cedre 77,2022-12-31 00:31:50,POS,2022-12-31 18:33:06.790,2023-01-01 00:31:50.470,6935,17/8/S,Marta,Marta,...,44677.0,La Cedre 77,,,,,,,,
2,44677.0,La Cedre 77,2022-12-31 00:31:50,POS,2022-12-31 18:33:06.790,2023-01-01 00:31:50.470,6935,17/8/S,Marta,Marta,...,44677.0,La Cedre 77,,,,,,,,
3,44677.0,La Cedre 77,2022-12-31 00:31:50,POS,2022-12-31 18:33:06.790,2023-01-01 00:31:50.470,6935,17/8/S,Marta,Marta,...,44677.0,La Cedre 77,,,,,,,,
4,44677.0,La Cedre 77,2022-12-31 00:31:50,POS,2022-12-31 18:33:06.790,2023-01-01 00:31:50.470,6935,17/8/S,Marta,Marta,...,44677.0,La Cedre 77,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15138,23648.0,La Cedre 37,2023-01-01 14:17:36,POS,2023-01-01 13:00:34.980,2023-01-01 14:17:36.830,1,1/7/S,Marta,Marta,...,23648.0,La Cedre 37,,,,,,,,
15139,23648.0,La Cedre 37,2023-01-01 14:17:36,POS,2023-01-01 13:00:34.980,2023-01-01 14:17:36.830,1,1/7/S,Marta,Marta,...,23648.0,La Cedre 37,,,,,,,,
15140,23648.0,La Cedre 37,2023-01-01 14:17:36,POS,2023-01-01 13:00:34.980,2023-01-01 14:17:36.830,1,1/7/S,Marta,Marta,...,23648.0,La Cedre 37,,,,,,,,
15141,23648.0,La Cedre 37,2023-01-01 14:17:36,POS,2023-01-01 13:00:34.980,2023-01-01 14:17:36.830,1,1/7/S,Marta,Marta,...,23648.0,La Cedre 37,,,,,,,,
15142,23648.0,La Cedre 37,2023-01-01 14:17:36,POS,2023-01-01 13:00:34.980,2023-01-01 14:17:36.830,1,1/7/S,Marta,Marta,...,23648.0,La Cedre 37,,,,,,,,

In [35]:
# writing to Excel
datatoexcel = pd.ExcelWriter('input2.xlsx')

# write DataFrame to excel
receipts.to_excel(datatoexcel)

# save the excel
datatoexcel.save()
print('DataFrame is written to Excel File successfully.')

<ipython-input-35-28a6e3b11744>:8: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  datatoexcel.save()

DataFrame is written to Excel File successfully.